
#scaled-canvas-container {
	float: left;
	width: 650px;
	margin-right: 20px;
}
#original-canvas-container {
	clear: both;
	padding-top: 40px;
}
canvas {
	border: 4px dashed yellow;
}

#shapes {
	margin: 0 0 40px;
	padding: 0;
	overflow: hidden;
}
.shape {
	border-bottom: 1px dotted lighten(black, 15%);
	cursor: pointer;
	padding: 3px 6px;

	&:hover {
		background: darken(white, 5%);

		.info:after {
			content: 'Click to edit';
			margin-left: 20px;
			float: right;
			color: darkgray;
		}
	}
	form {
		display: none;
		float: none;
	}
	.delete {
		color: desaturate(red, 10%);
		margin-left: 20px;
		font-size: 11px;
	}
}

form {
	float: left;
	margin-right: 30px;

	label {
		display: inline-block;
		width: 60px;
		text-align: right;
	}
	input[type=submit] {
		margin-left: 70px;
	}
}

.import {
	overflow: hidden;

	input[type=submit] { 
		margin-left: 0 
	}
}